################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MeteorologyAnalytics/config/applicationhost.config
/.vs/MeteorologyAnalytics/CopilotIndices/17.14.1569.27729/CodeChunks.db
/.vs/MeteorologyAnalytics/DesignTimeBuild/.dtbcache.v2
/.vs/MeteorologyAnalytics/FileContentIndex/0de010e8-651f-4491-8ab1-f61a8e6cca5c.vsidx
/.vs/MeteorologyAnalytics/v17/.futdcache.v2
/.vs/MeteorologyAnalytics/v17/.suo
/.vs/MeteorologyAnalytics/v17/DocumentLayout.backup.json
/.vs/MeteorologyAnalytics/v17/DocumentLayout.json
/MeteorologyAnalytics/obj/Debug/net8.0/ApiEndpoints.json
/MeteorologyAnalytics/obj/Debug/net8.0/apphost.exe
/.vs/MeteorologyAnalytics/CopilotIndices/17.14.1569.27729/CodeChunks.db-shm
/.vs/MeteorologyAnalytics/CopilotIndices/17.14.1569.27729/CodeChunks.db-wal
/MeteorologyAnalytics/bin/Debug/net8.0/MeteorologyAnalytics.deps.json
/MeteorologyAnalytics/bin/Debug/net8.0/MeteorologyAnalytics.dll
/MeteorologyAnalytics/bin/Debug/net8.0/MeteorologyAnalytics.exe
/MeteorologyAnalytics/MeteorologyAnalytics.csproj.user
/MeteorologyAnalytics/obj/Debug/net8.0/MeteorologyAnalytics.AssemblyInfoInputs.cache
/MeteorologyAnalytics/obj/Debug/net8.0/MeteorologyAnalytics.assets.cache
/MeteorologyAnalytics/obj/Debug/net8.0/MeteorologyAnalytics.csproj.AssemblyReference.cache
/MeteorologyAnalytics/obj/Debug/net8.0/MeteorologyAnalytics.csproj.BuildWithSkipAnalyzers
/MeteorologyAnalytics/obj/Debug/net8.0/MeteorologyAnalytics.csproj.CoreCompileInputs.cache
/MeteorologyAnalytics/obj/Debug/net8.0/MeteorologyAnalytics.csproj.FileListAbsolute.txt
/MeteorologyAnalytics/obj/Debug/net8.0/MeteorologyAnalytics.dll
/MeteorologyAnalytics/obj/Debug/net8.0/MeteorologyAnalytics.GeneratedMSBuildEditorConfig.editorconfig
/MeteorologyAnalytics/obj/Debug/net8.0/MeteorologyAnalytics.genruntimeconfig.cache
/MeteorologyAnalytics/obj/Debug/net8.0/ref/MeteorologyAnalytics.dll
/MeteorologyAnalytics/obj/Debug/net8.0/refint/MeteorologyAnalytics.dll
/MeteorologyAnalytics/obj/MeteorologyAnalytics.csproj.nuget.dgspec.json
/MeteorologyAnalytics/obj/MeteorologyAnalytics.csproj.nuget.g.props
/MeteorologyAnalytics/obj/MeteorologyAnalytics.csproj.nuget.g.targets
/.vs/ProjectEvaluation/meteorologyanalytics.metadata.v9.bin
/.vs/ProjectEvaluation/meteorologyanalytics.projects.v9.bin
/.vs/ProjectEvaluation/meteorologyanalytics.strings.v9.bin
/MeteorologyAnalytics/bin/Debug/net8.0/MeteorologyAnalytics.pdb
/MeteorologyAnalytics/bin/Debug/net8.0/MeteorologyAnalytics.runtimeconfig.json
/MeteorologyAnalytics/obj/Debug/net8.0/EndpointInfo/MeteorologyAnalytics.json
/MeteorologyAnalytics/obj/Debug/net8.0/EndpointInfo/MeteorologyAnalytics.OpenApiFiles.cache
/MeteorologyAnalytics/obj/Debug/net8.0/MeteorologyAnalytics.pdb
/MeteorologyAnalytics/obj/Debug/net8.0/MeteorologyAnalytics.sourcelink.json
/MeteorologyAnalytics/obj/Debug/net8.0/staticwebassets/msbuild.build.MeteorologyAnalytics.props
/MeteorologyAnalytics/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.MeteorologyAnalytics.props
/MeteorologyAnalytics/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.MeteorologyAnalytics.props
/.vs/MeteorologyAnalytics/CopilotIndices/17.14.1569.27729/SemanticSymbols.db
/.vs/MeteorologyAnalytics/CopilotIndices/17.14.1569.27729/SemanticSymbols.db-shm
/.vs/MeteorologyAnalytics/CopilotIndices/17.14.1569.27729/SemanticSymbols.db-wal
/.vs/MeteorologyAnalytics/FileContentIndex/06e4f5bd-abf5-42c3-8a38-2d45bba8eb58.vsidx
/.vs/MeteorologyAnalytics/FileContentIndex/27de78f4-6018-4d5a-96e8-ac0711b975d4.vsidx
/.vs/MeteorologyAnalytics/FileContentIndex/59eddb7c-94c7-43c9-a548-dda95fcaf957.vsidx
/.vs/MeteorologyAnalytics/FileContentIndex/80d25f0f-8021-465d-bd30-e02999b5db40.vsidx
/.vs/MeteorologyAnalytics/FileContentIndex/8f9d18b2-93e4-4bad-91de-45c788f54a05.vsidx
/.vs/MeteorologyAnalytics/FileContentIndex/d9349817-e564-44f9-8fdd-b1fb3532e3cc.vsidx
/MeteorologyAnalytics/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/Humanizer.dll
/MeteorologyAnalytics/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/MeteorologyAnalytics/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
/MeteorologyAnalytics/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/MeteorologyAnalytics/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
/MeteorologyAnalytics/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
/MeteorologyAnalytics/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
/MeteorologyAnalytics/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/MeteorologyAnalytics/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
/MeteorologyAnalytics/bin/Debug/net8.0/Mono.TextTemplating.dll
/MeteorologyAnalytics/bin/Debug/net8.0/Npgsql.dll
/MeteorologyAnalytics/bin/Debug/net8.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
/MeteorologyAnalytics/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/System.CodeDom.dll
/MeteorologyAnalytics/bin/Debug/net8.0/System.Composition.AttributedModel.dll
/MeteorologyAnalytics/bin/Debug/net8.0/System.Composition.Convention.dll
/MeteorologyAnalytics/bin/Debug/net8.0/System.Composition.Hosting.dll
/MeteorologyAnalytics/bin/Debug/net8.0/System.Composition.Runtime.dll
/MeteorologyAnalytics/bin/Debug/net8.0/System.Composition.TypedParts.dll
/MeteorologyAnalytics/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/MeteorologyAnalytics/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MeteorologyAnalytics/obj/project.assets.json
/MeteorologyAnalytics/obj/project.nuget.cache
